diskcache==5.6.3
ecole==0.8.1
joblib==1.4.2
matplotlib==3.10.0
networkx==3.3
numpy==2.2.2
openai==1.61.1
pandas==2.2.3
pyautogen==0.2.35
PySCIPOpt==4.3.0
python-dotenv==1.0.1
scipy==1.15.1
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorboard-logger==0.1.0
termcolor==2.5.0
torch==2.8.0
torch_cluster==1.6.3+pt23cu121
torch_geometric==2.5.3
torch_scatter==2.1.2+pt23cu121
torch_sparse==0.6.18+pt23cu121
torch_spline_conv==1.2.2+pt23cu121
tqdm==4.66.5
transformers==4.53.0
